@import '../main.scss';

#root{
    div{
        #addPhotoFormContainer{
            height: 95vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .formContainer form {
            textarea {
                font-family: $fonts;
                font-size: 1rem;
            }
        }
    }
}