@import '../main.scss';

#container {
    background-color: lightgray;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

#addButt {
    background-color: rgb(116, 231, 116);
}

#editButt {
    margin-left: 20px !important;
    font-size: .8rem !important;
}

#catTitle {
    color: black !important;
}