@import '../main.scss';

#root {
	div {
		#archivise-dash {
			height: 15vh;
			width: 80%;
			margin: auto auto;
			display: flex;
			align-items: center;
			h1 {
				color: map-get($theme-colors, 'nav-icon');
				font-size: 4rem;
				margin: 0;
				text-align: center;
			}
		}
		#dashboard-div {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: 13% auto;
			width: 80%;
			height: 80vh;
			margin: auto auto;
			// margin-top: 100px;
			background-color: map-get($theme-colors, 'nav-icon');
			border-radius: 10px;

			h1 {
				font-size: 3rem;
				text-align: center;
				grid-column: 1/2;
				width: 95%;
				margin: auto;
			}
			#dashboard-links {
				grid-column: 1/2;
				grid-row: 2/3;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				height: 95%;
				width: 90%;
				margin: auto auto;
				margin-top: 5px;
				background-color: map-get($theme-colors, 'light-grey');
				border-radius: 5px;

				h2 {
					margin: 0;
					font-size: 2rem;
					text-align: center
				}

				a {
					font-size: 1.5rem;
				}
			}
			#dashboard-images {
				grid-column: 2/3;
				grid-row: 2/3;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 95%;
				width: 90%;
				margin: auto auto;
				margin-top: 5px;
				border-radius: 5px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			#dashboard-count {
				grid-column: 2/3;
				grid-row: 1/2;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
