@import '../main.scss';

// #landingPage {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-end;
//     margin-top: 100%;
//     #landingTitle, #landingSubtitle {
//         text-align: center;
//     }
// }

#root {
   div {
      #landing {
         position: absolute;
         left: 0px;
         top: 0px;
         background-color: green;
         background-image: url(../../../src/assets/background-min.jpg);
         background-size: cover;
         width: 100vw;
         height: 100vh;
         #landingGradient {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100vw;
            height: 70vh;
            background-image: linear-gradient(transparent, rgba(34, 34, 34, 0.904), rgb(27, 27, 27));
            @include flex-c;
            justify-content: center;
            align-items: center;
            h1 {
               color: map-get($theme-colors , "light-grey" );
               text-align: center;
               font-size: 4rem;
               margin: 0px;
            }
            h3 {
               color: map-get($theme-colors , "light-grey" ); 
               text-align: center;
               font-size: 2rem;
            }
            a {
               font-size: 1.5rem;
               background-color: rgb(189, 189, 189);
               padding: 10px 20px;
               border-radius: 30px;
               text-decoration: none;
               border: 1px solid black;
               box-shadow: 2px 2px 3px black;
               color: black;
               text-transform: uppercase;
            }
         }
      }
   }
}