@import "../main.scss";
#root {
  div {
    #main {
      margin: 20px;
      padding: 10px;
      #resultsContainer {
         @include flex-r;
         flex-wrap: wrap;
         margin-top: 20px;
        .card {
           @include flex-c;
           justify-content: center;
           width: 250px;
           min-width: 200px;
           max-width: 400px;
           margin: 10px;
           padding: 15px;
           background-color: rgba(237, 237, 237, 0.557);
           border-radius: 5px;
           border: 1px solid black;
           box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
          a {
             font-size: 1.5rem;
             text-align: center;
          }
          p {
            margin: 5px 0px;
            font-weight: bold;
          }
          img{
            max-width: 40%;
            margin: auto;
          }
        }
      }
    }
  }
}
