@import '../main.scss';

#root {
   div {
      #showContainer {
         background-color: map-get($theme-colors , light-grey );
         border-radius: 5px;
         padding: 10px;
         margin: 20%;

         h2 {
            margin: 10px;
            text-align: center;
         }
         span {
            font-weight: bold;
         }
         a {
            font-weight: bold;
            text-transform: uppercase;
         }
         #photo {
            width: 400px;
            height: 400px;
            display: flex;
            justify-content: center;
         }
      }
   }
}