@import '../../main.scss';

#root {
   div {
      #searchContainer {
         @include flex-r;
         margin-bottom: 20px;
         #searchInput {
            font-size: 1.2rem;
            padding: 5px;
            width: 80%;
            max-width: 600px;
            margin-right: 5px;
            border-radius: 5px;
         }
         // button {
         //    font-size: 1.2rem;
         //    padding: 5px;
         //    border-radius: 5px;
         //    min-width: 80px;
           
         // }
      }
      div#tagContainer {
         display: flex;
         flex-wrap: wrap;
         #tags {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightgrey ;
            padding: 5px 10px;
            margin: 5px 5px 5px 0px;
            border-radius: 5px;
            // border: 1px solid black;
            box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
            a {
               color: map-get($theme-colors , "warning" );;
               i {
                  margin-left: 5px;
               }
            }
         }
      }
      #tagErrorDiv {
         color: map-get($theme-colors , "warning" );;
         text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.445);
         text-decoration: underline;
         margin-top: 2px;
      }
      #categorySelect {
         font-size: 1.2rem;
         border-radius: 5px;
         margin-top: 5px;
         margin-bottom: 25px;
      }
      #filterTitle {
         font-size: 1.2rem;
         color: map-get($theme-colors , "light-grey" );
         padding: 0px;
         margin: 5px 0px 10px 0;
         margin-top: 5px;
      }
   }
}

