@import '../../main.scss';

#root {
    div {
        #loginFormContainer {
            margin-top: 30vh;
            position: relative;
            left: -20px;
        }
        .formContainer {
            max-width: 300px;
            margin: auto;
            .pageHeading {
                // margin: 5px;
                text-align: center;
                color: map-get($theme-colors , "light-grey" );
            }
            form {
                @include standard-padding;
                border-radius: 5px;
                background-color: map-get($theme-colors , "grey" );

                .fieldset {
                    @include flex-c;
                    @include font-medium;
                    padding: 5px;
                    input {
                        @include input-desktop;
                        font-size: inherit;
                        border-radius: 5px;
                    }
                    #inputError {
                        color: map-get($theme-colors , "warning" );
                        font-size: 1rem;
                    }
                    #submitButton {
                        font-size: 1.2rem;
                        height: 40px;
                        width: 100px;
                        margin: auto;
                        border-radius: 5px;
                    }
                    select {
                        @include input-desktop;
                        border-radius: 5px;
                        background-color: white;
                        margin: 5px 0px;
                    }
                }
            }
        }
    }
}