@import '../../main.scss';

#root {
    div {
        #addUserFormContainer {
            @include flex-r;
            @include standard-padding;
            max-width: 600px;
            background-color: map-get($theme-colors , "grey" );
            border-radius: 5px;
            justify-content: space-evenly;

            form {
                padding: 0px;
                border-radius: 0px;
                background-color: transparent;
            }
            h3 {
                padding: 5px;
                margin-top: 0px;
                text-align: center;
            }
        }
        #editUserFormContainer {
            h3 {
                padding: 5px;
                margin-top: 0px;
                text-align: center;
            }
        }
    }
}